// .done{
//     background-color: aqua;
//     padding: 50px;
// }
.undone{
    display: block;

}

.rightAnswer {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrongAnswer {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }