@import '../../Styles/Variables';

.selection-container{
    position: relative;

    .selection-items{
        position: absolute;
        top: 12rem;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 9rem;

        @media (max-width: 488px){
            margin-top: 14rem;
        }

        .nameInput{
            width: 30rem;

            @media (max-width: 488px){
                width: 22rem;
            }
        }
        .startBtn{
            background-color: $header-bg;
            color: $button-color;
            // outline: none;
            font-size: large;
            border: none;
        }
        .activeBtn{
            background-color: $button-bottom;
        }
    }
}